
  body{
    background-color: powderblue;
  }
  img{
    border-radius:40%;
    width: 80%;
  }
  h1{
    color:red;
    text-align: right;
    font-style: italic;
  }
  h4{
    color: indigo;
    font-size: 160%;
    font-weight: 400;
    font-style: italic;
  }
  p{
    color: green;
    text-align: centre;
  }
